
body{
    line-height: 1.5;
    font-size: 1.3em;
    background-color: rgb(212, 238, 240);
}
a{
    text-decoration: none;
}
nav{
    position: fixed;
    min-width: 290px;
    top: 0px;
    left: 0px;
    width: 350px;
    height: 100%;
    border-right: solid;
    border-color: rgba(22, 1, 0, 0.644);
    overflow:auto;
    background-color:rgb(207, 250, 250);
}
#main-doc{
    margin-left: 380px;
    margin-right: 40px;
    padding: 15px;
}
p,li{
    margin: 20px auto;
}
header{
    font-size: 1.8em;
    font-weight: 900;
}
nav header{
    position: sticky;
    top: 0;
    text-align: center;
    background-color:rgb(211, 250, 250);
    padding: 15px;
}
.link{
    border: 1px solid;
}
.link a{
    color: rgb(60, 61, 61);
    display: block;
    padding: 20px;
    font-size: 1.4em;
    font-weight: 700;
}
.link a:hover{
    background-color: burlywood;
}
code{
    display: block;
    text-align: left;
    position: relative;
    word-break: normal;
    word-wrap: normal;
    line-height: 2;
    background-color: #ccd1d1;
    padding: 15px;
    margin: 10px;
    border-radius: 5px;
}
hr{
    margin: 0;
}
@media only screen and (max-width: 856px){

#navbar {
    position: absolute;
    top: 0;
    padding: 0;
    width: 100%;
    z-index: 1;
    border-bottom:2px solid;
    border-right: none;
    overflow-y:auto;
    height: 300px;
    background-color: rgb(212, 238, 240);
    text-align: center;
    
}
#navbar header{
    background-color: rgb(212, 238, 240);
}
header{
    text-align: center;
}
#main-doc {
    margin:320px 0 0 0;
}
.link{
    border:none;
    border-top: 2px solid;
}
}
@media only screen and (max-width: 410px){
code {
    width: 100%;
    padding-left: 10px;
    padding-right: 45px;
    min-width: 233px;
}
}